.product-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
  }
  
  .product-image {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .product-name {
    color: #333;
    margin-top: 10px;
    font-size: 1.5em;
  }
  
  .product-price {
    color: #555;
    margin: 10px 0;
  }
  
  .add-to-cart-button {
    padding: 10px 20px;
    background-color: #cfcfcf;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-to-cart-button:hover {
    background-color: #9b9b9b;
  }
  

  .back-to-menu-button {
    padding: 10px 20px;
    background-color: #c1c1c1; 
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1em;
    text-decoration: none;  
    display: inline-block; 
  }
  
  .back-to-menu-button:hover {
    background-color: #9b9b9b; 
  }